@font-face {
    font-family: 'Gilroy-Regular';
    src: url('Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('Gilroy-SemiBold.ttf');
}

.VBox, .box-border{
    -fx-border-color: #604BE8;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}

.TabPane, .tab-pane-border{
    -fx-border-color: #604BE8;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-background-radius: 200px;
    -fx-background-color: transparent;
}